
.nav-item {
    margin: 10px;
}

.nav-link {
    margin: 10px
}

#userInfo{
    float:left;
    padding-left:150px;
}
#signIn{
    float:right;
    padding-left:150px;
}

.navbarButtons{
    float:right;
}
.navbarSignOut{
    float:left;
}

@media (max-width: 991px){
    #userInfo {
      float:left;
      padding-left:0px;
      padding-top:50px;
    }
  }


