
.nav-item {
    margin: 10px;
}

.nav-link {
    margin: 10px
}

.signInLinks {
    margin-left: 20vw;
}

#userBtn {
    color: #eeeeee;
}

#userBtn:hover {
    color: #000000;
}


@media only screen and (max-width: 892px) {
    .signInLinks {
        margin-left: 0px;
    }
}

