
.nav-item {
    margin: 10px;
}

.nav-link {
    margin: 10px
}

.signInLinks {
    margin-left: 450px;
}


@media only screen and (max-width: 892px) {
    .signInLinks {
        margin-left: 0px;
    }
}

