body {
  background-image: url("https://hdqwalls.com/wallpapers/simple-subtle-abstract-dark-minimalism-4k-u9.jpg");
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  font: outline;
}

a:link {
  text-decoration: none;
}

.navbar {
  background-color: #eeeeee54
}

#eventsCard {
  float: left;
  height: 70vh;
  margin: 50px;
  text-align: center;
  padding-top: 20vh;
  background-image: url("https://i.imgur.com/Zri3Udn.gif");
  background-size: cover;
  color: #eeeeee;
  box-shadow: 5px 5px 30px #ffffff;
  transition: all 0.5s ease-in-out; 
}

@media (max-width: 768px){
  h1{
    font-size: 20px;
  }
}

@media (min-width: 790px){
  h1{
    font-size:25px;
  }
}


#eventsCard:hover {
  box-shadow: 5px 5px 30px #373538;
}

#createCard {
  float: left;
  height: 70vh;
  margin: 50px;
  text-align: center;
  padding-top: 20vh;
  background-image: url("https://i.imgur.com/Q9CcHGs.gif");
  background-size: cover;
  background-position-x: -100px;
  color: #eeeeee;
  box-shadow: 5px 5px 30px #ffffff;
  transition: all 0.5s ease-in-out; 
}

#createCard:hover {
  box-shadow: 5px 5px 30px #373538;
}

#newsCard {
  float: left;
  height: 70vh;
  margin: 50px;
  text-align: center;
  padding-top: 20vh;
  background-image: url("https://i.imgur.com/vMEtk9t.gif");
  background-size: cover;
  color: #eeeeee;
  box-shadow: 5px 5px 30px #ffffff;
  transition: all 0.5s ease-in-out; 
}

#newsCard:hover {
  box-shadow: 5px 5px 30px #373538;
}

h3{
  color:white;
  text-align: center;
}

#eventsbanner {
  color: black;
}

#dropdownCard {
  margin: 20px;
  background-color: #eeeeee54;
  z-index: 99;
}

#newsMainContainer {
  margin: 20px;
  background-color: #eeeeee54;
}

#genreCard {
  margin: 20px;
  text-align: center;
  background-image: url("https://i.imgur.com/JP3yOzm.gif");
  background-size: cover;
  background-position-y: -400px;
  box-shadow: 5px 5px 30px #373538;
  transition: all 0.5s ease-in-out; 
}

#genreCard:hover {
  box-shadow: 5px 5px 30px #ffffff;
}

#upcomingCard {
  margin: 20px;
  text-align: center;
  background-image: url("https://i.imgur.com/XuIpkbN.gif");
  background-size: cover;
  box-shadow: 5px 5px 30px #373538;
  transition: all 0.5s ease-in-out; 
}

#upcomingCard:hover {
  box-shadow: 5px 5px 30px #ffffff;
}

#dropdownMenuButton {
  color: #eeeeee;
  width: 100%;
}

.dropdown-item {
  font-size: 15px;
}

#newsOverflow {
  background-image: url("https://i.imgur.com/kwUTHrJ.gif");
  background-size: cover;
  box-shadow: 5px 5px 30px #373538;
}

.list-group-item {
  background-color: #eeeeee50;
  border: none;
}

.newsImg {
  width: 100%;
}

.vidsImg {
  width: 100%;
}

i.fa-play {
  font-size: 100px;
  vertical-align: 20vh;
}

.playBtn {
  text-align: center;
  position: relative;
  top: 16vh;
}

.playText {
  text-align: center
}

.articleCards {
  margin: 20px;
  background-color: #626569da;
  color: #000000;
  box-shadow: 5px 5px 30px #373538;
}

.dropdown-menu {
  width: 100%;
  background-color: #eeeeeede;
  margin-top: 14px;
}

.articleTitle {
  color: #000000;
}

.articleTitle:hover {
  color: #383636;
}

i {
  color: #000000;
}

i:hover {
  color: #383636;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffffda; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); 
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

#cardBorder{

  border-left: 40px;
  border-right:40px;
  border-top: 40px;
  border-bottom: 40px;
  border-color: black;
  
}

#viewHeaderCard {
  margin: 20px;
  background-color: #eeeeee54;
}

#viewWordsCard {
  margin: 20px;
  text-align: center;
  background-image: url("https://i.imgur.com/RwG0QIj.gif");
  background-size: cover;
  background-position-y: -400px;
  box-shadow: 5px 5px 30px #373538;
  color: #eeeeee;
}

#eventsbanner {
  color: #eeeeee;
}

#maineventsCard {
  background-color: #eeeeee00
}

#viewOverflow {
  background-image: url("https://i.imgur.com/V5GDPlA.gif");
  background-size: cover;
  background-position-y: -500px;
  box-shadow: 5px 5px 30px #373538;
}

#maineventsCard {
  margin: 20px;
  background-color: #626569da;
  color: #000000;
  box-shadow: 5px 5px 30px #373538;
}

#viewMainContainer {
  margin: 5px;
  background-color: #eeeeee54;
}

#createHeaderCard {
  margin: 20px;
  background-color: #eeeeee54;
}

#createWordsCard {
  margin: 20px;
  text-align: center;
  background-image: url("https://i.imgur.com/QJX7A6a.gif");
  background-size: cover;
  background-position-y: -300px;
  box-shadow: 5px 5px 30px #373538;
  color: #eeeeee;
}



#eventsbanner {
  color: #eeeeee;
}

#createEventsCard {
  background-color: #eeeeee00
}

#createOverflow {
  background-image: url("https://i.imgur.com/YXPFhim.gif");
  background-size: cover;
  background-position-y: 0px;
  box-shadow: 5px 5px 30px #373538;
}

#createEventsCard {
  margin: 20px;
  background-color: #626569da;
  color: #eeeeee;
  text-align: center;
  box-shadow: 5px 5px 30px #373538;
}

#createMainContainer {
  margin: 5px;
  background-color: #eeeeee54;
}

#userEventsCard {
  background-color: #eeeeee00
}

#userOverflow {
  background-image: url("https://i.imgur.com/PLPP7I8.gif");
  background-size: cover;
  box-shadow: 5px 5px 30px #373538;
}

#userEventsCard {
  margin: 20px;
  background-color: #626569da;
  color: #000000;
  box-shadow: 5px 5px 30px #373538;
}

#userMainContainer {
  margin: 20px;
  background-color: #eeeeee54;
}

input {
  margin: 10px;
}

#userButton {
  width: 100%
}

#launchCard {
  background-color: #eeeeee00
}

.btn-info {
  width: 100%;
  background-color: #373538;
  border: none !important;
  margin-left: 10px;
}

.btn-info:hover {
  background-color: #888
}

#artistRouteLink {
  color:white;
  text-align: center;
}

.artistImages {
  width: 100%;
  margin: 10px;
}

#artistsMainContainer {
  margin: 20px;
  background-color: #eeeeee54;
}

#artistsOverflow {
  background-color: #626569da;
  box-shadow: 5px 5px 30px #373538;
}

.artistsCard {
  margin: 20px;
  background-color: #626569da;
  color: #000000;
  box-shadow: 5px 5px 30px #373538;
}

.artistHeader {
  text-align: center;
}

.artistLink {
  color: #eeeeee;
}

.artistLink:hover {
  color: #000000da;
}

.atendeeWords {
  font-size: 12px;
  margin-bottom: 0px;
}

.statsTitle {
  text-align: center;
  border-radius: 100px;
  margin: 10px;
  background-color: #626569da;
  color: #eeeeee;
  box-shadow: 5px 5px 30px #373538;
}

.statsItems {
  text-align: center;
  border-radius: 100px;
  width: 30%;
  margin-left: 40%;
  background-color: #626569da;
  color: #eeeeee;
  box-shadow: 5px 5px 30px #373538;
  margin-bottom: 20px;
}

.statsHost {
  text-align: center;
  border-radius: 100px;
  background-color: #626569da;
  color: #eeeeee;
  box-shadow: 5px 5px 30px #373538;
  margin-bottom: 20px;
}

#detailsHeaderCard {
  margin: 20px;
  background-color: #eeeeee54;
}

#detailsWordsCard {
  margin: 20px;
  text-align: center;
  background-image: url("https://66.media.tumblr.com/2b5f96777491c306267b4cab21575b4d/tumblr_phcq9rpfKz1qze3hdo1_r2_500.gif");
  background-size: cover;
  background-position-y: -300px;
  box-shadow: 5px 5px 30px #373538;
  color: #eeeeee;
}

#eventsbanner {
  color: #eeeeee;
}

#detailsEventsCard {
  background-color: #eeeeee00
}

#detailsOverflow {
  background-image: url("https://66.media.tumblr.com/f6395bca7a86e8efa6807271b64fb7f4/tumblr_p4jpsnKZQu1qze3hdo1_500.gif");
  background-size: cover;

  box-shadow: 5px 5px 30px #373538;
}

#detailsEventsCard {
  margin: 20px;
  background-color: #62656983;
  color: #000000;
  box-shadow: 5px 5px 30px #373538;
}

#detailsMainContainer {
  margin: 5px;
  background-color: #eeeeee54;
}

#mainDetailsCard {
  background-color: rgba(136, 136, 136, 0.473);
  margin: 20px;
  text-align: center;
  color: #eeeeee;
  box-shadow: 5px 5px 30px #373538;
}

#registerHeaderCard {
  margin: 20px;
  background-color: #eeeeee54;
}

#registerWordsCard {
  margin: 20px;
  text-align: center;
  background-image: url("https://66.media.tumblr.com/54af19212db5e2cce51d031cb32709fd/tumblr_o7l2sq0iSy1qze3hdo1_r2_500.gif");
  background-size: cover;
  background-position-y: -800px;
  box-shadow: 5px 5px 30px #373538;
  color: #eeeeee;
}

#eventsbanner {
  color: #eeeeee;
}

#registerEventsCard {
  background-color: #eeeeee00
}

#registerOverflow {
  background-image: url("https://66.media.tumblr.com/f7cd096f108d83c988169096361972fc/tumblr_otjfqziQrH1qze3hdo1_500.gif");
  background-size: cover;
  background-position-y: -300px;
  box-shadow: 5px 5px 30px #373538;
}

#registerEventsCard {
  margin: 20px;
  background-color: #62656983;
  color: #eeeeee;
  text-align: center;
  box-shadow: 5px 5px 30px #373538;
}

#registerMainContainer {
  margin: 5px;
  background-color: #eeeeee54;
}


#userHeaderCard {
  margin: 20px;
  background-color: #eeeeee54;
}

#userWordsCard {
  margin: 20px;
  text-align: center;
  background-image: url("https://66.media.tumblr.com/1e993c0a367c7a5e5c6ad26b3d8b202b/tumblr_onr5atYZZq1rrrxrho1_1280.gifv");
  background-size: cover;
  background-position-y: 220px;
  box-shadow: 5px 5px 30px #373538;
  color: #eeeeee;
}

.nav-item .nav-link{
  padding-top:-9px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 641px) {
  #createEventsPageGamersUnited{
    font-size: 100%
  }

  #viewEventsGamersUnited{
    font-size: 100%
  }

  #eventsbanner{
    font-size: 100%
  }

  .control-label{
    font-size: 100%
  }

}

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 13px;
  }

  h5 {
    font-size: 13px;
  }

  .atendeeWords {
    font-size: 7px;
    margin-bottom: 0px;
  }

  .statsTitle {
    text-align: center;
    margin: 10px;
    color: #eeeeee;
  }
  
  .statsItems {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    color: #eeeeee;
    margin-bottom: 20px;
  }
  
  .statsHost {
    text-align: center;
    color: #eeeeee;
    margin-bottom: 20px;
  }

  #detailsEventsCard {
    margin: 0px;
    color: #000000;
  }

  #mainDetailsCard {
    margin: 5px;
    text-align: center;
  }

  #strong {
    font-size: 10px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 10px;
  }

  .articleTitle {
    color: #000000;
    font-size: 13px;
    text-align: center;
  }
  .saveBtn {
    font-size: 10px;
  }
  .btn-dark {
    font-size: 10px;
  }
  #articleBody {
    font-size: 7px;
  }

  .articleCards {
    padding: 0px;
  }

  legend {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .control-label {
    font-size: 10px;
  }

  #createOverflow {
    background-size: 100vmax
  }
  .btn-info {
    font-size: 9px;
  }
  i.fa-play {
    font-size: 40px;
    vertical-align: 20vh;
    margin-top: -90px;
  }
  #dropdownMenuButton {
    font-size: 13px;
  }
  .nav-item {
    font-size: 13px;
  }
  label {
    font-size: 8px;
  }
  #viewOverflow {
    background-size: cover;
    background-position-y: 0px;
  }
  #viewWordsCard {
    background-position-y: 0px;
  }
  #userWordsCard {
    background-position-y: 0px;
  }
  button.navbarButtons {
    width: 165%;
  }
}
